/* LOOK AWAY FUCCBOI */

body {
	background-color: #ccffcc;
	color: #003300;
	padding: 50px 10%;
	max-width: 600px;
	margin: auto;
	border-left-style: groove;
	border-right-style: groove;
	border-width: 10px;
	border-color: #336633;
	line-height: 1.25;
	font-size: 16;
}

a {
	color: #339900;
	text-decoration: none;
}

a:hover {
	color: #cc6600;
}

a.back {
	position: relative;
	top: -20px;
}

h1 {
	font-family: "VL PGothic", "Meiryo", sans-serif;
	color: #006666;
}

pre {
	font-family: "VL Gothic", "DejaVu Sans Mono", "Consolas", monospace;
	color: #660033;
}

li {
	padding-top: 0.4em;
	padding-bottom: 0.3em;
}