/* LOOK AWAY FUCCBOI */

body {
	background-color: #ccffcc;
	color: #330000;
	padding: 50px 10%;
	max-width: 600px;
	margin: auto;
}

a {
	color: #660099;
}

a.back {
	position: relative;
	top: -20px;
}